.container {
  width: 90%;
  margin: 0 auto;
  background-color: red;
}

@media screen and (max-width: 900px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 570px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 98%;
  }
}
