/* Resets */

:root {
  --blue-color: rgb(112, 148, 204);
  --red-color: rgb(204, 112, 140);

  --shadow: 0 2px 6px rgb(118, 118, 118);
  --light-color: rgb(216, 216, 216);
  --dark-color: rgb(38, 38, 38);
  --light-shadow: 0 2px 6px var(--light-color);
  --dark-shadow: 0 2px 6px var(--dark-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

.shadow {
  box-shadow: var(--shadow);
}

.light-shadow {
  box-shadow: var(--light-shadow);
}

.dark-shadow {
  box-shadow: var(--dark-shadow);
}

.text-dark {
  color: rgb(255, 255, 255);
}

.text-gray {
  color: rgb(128, 128, 128);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important ;
    scroll-behavior: auto !important;
  }
}

/* Container */

.container {
  width: 90%;
  margin: 0 auto;
  background-color: red;
}

@media screen and (max-width: 900px) {
  .container {
    width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 570px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 98%;
  }
}

/* Button */

.btn-success {
  padding: 10px;
  font-size: 16px;
  background: var(--blue-color);
  cursor: pointer;
  color: rgb(203, 203, 203);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 500ms ease;
}

.btn-danger {
  padding: 10px;
  font-size: 16px;
  background: var(--red-color);
  cursor: pointer;
  color: rgb(203, 203, 203);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 500ms ease;
}

.btn-danger:hover {
  color: black;
}

.btn-success:hover {
  color: black;
}

/* Cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.card-header {
  font-size: 26px;
  font-weight: bold;
  padding: 5px 8px 0;
  border-bottom: 1px solid gray;
}

.details {
  margin: 6px;
}

.details a {
  color: rgb(0, 6, 175);
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .card {
    width: 150px;
  }

  .card-header {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 120px;
  }

  .card-header {
    font-size: 20px;
  }

  .details * {
    font-size: 14px;
  }
}
