:root {
  --shadow: 0 2px 6px rgb(118, 118, 118);
  --light-shadow: 0 2px 6px var(--light-color);
  --dark-shadow: 0 2px 6px var(--dark-color);
}

.shadow {
  box-shadow: var(--shadow);
}

.light-shadow {
  box-shadow: var(--light-shadow);
}

.dark-shadow {
  box-shadow: var(--dark-shadow);
}
